.wrap {
    padding: 1rem;
}

.tableDiv {
    width: 100%;
    overflow: scroll;
}

table {
    width: 100%;
    text-align: center;
}

input[type='date'] {
    width: 120px;
}

input[type='time'] {
    width: 100px;
}

form {
    text-align: center;
    align-items: center;
}

form * {
    text-align: center;
}

input[type='number'] {
    width: 100px;
}

table, form {
    max-width: 500px;
}

#send input[type='submit'] {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
}