.wrap {
    padding: 1rem;
}

.tableDiv {
    width: 100%;
    overflow: scroll;
}

#viewTable {
    width: 100%;
}

input[type='date'] {
    width: 120px;
}

input[type='time'] {
    width: 100px;
}
