/*
    사용되는 HTML:
    - base.html
*/

/* Font: Pretendard | https://github.com/orioncactus/pretendard */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html, body {
    /* 화면 꽉 채우기 */
    width: 100%;
    height: 100%;
    margin: 0;

    /* 폰트 설정 */
    font-family: 'Pretendard';

    /* 줄바꿈 단어 단위로 */
    word-break: keep-all;
}

body {
    /* 레이아웃 뼈대 */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header, main, footer {
    /* 전체적인 여백의 미 */
    padding: 0.4rem;
}

header, footer, nav {
    z-index: 99;
    background-color: white;
    -webkit-transform: translate3d(0,0,0); /* Safari z-index support */
}

header {
    /* 전체 레이아웃 */
    flex-grow: 7;

    /* 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 아래 회색줄 */
    border-bottom: solid 0.05rem rgba(0, 0, 0, 0.3);

    /* 제목 크게 + 하양 */
    font-size: 1.2rem;
    color: white;

    /* 배경 진파랑 */
    background-color: var(--main-color);

    max-height: 180px;

    position: relative; /* header가 정의된 위치를 가지도록 설정 */
    width: 100%;
    padding: 0;
}

header img {
    /* 이미지 작게 */
    height: 50%;

    /* 클릭 가능하게 표시 */
    cursor: pointer;
}

header img:hover {
    /* 클릭 가능하게 표시 */
    opacity: 75%;
}

footer {
    /* 전체 레이아웃 */
    flex-grow: 3;
    text-align: center;

    /* 글씨 회색 */
    color: grey;
}

footer a {
    /* 밑줄 지우기 */
    text-decoration: none;
    color: grey;
    padding: 0;
    margin: 0;
}

header *, footer * {
    /* 영역 밖으로 나가지 않게 */
    margin: 0;

    /* 좌우 여백의 미 */
    padding: 0 0.3rem;
}




main {
    /* 전체 레이아웃 */
    flex-grow: 90;
    width: 100%;
    height: 100%;

    /* 화면 고정 */
    display: block;
    overflow: auto;
    padding: 0;
}

.mainwrap {
    /* main 레이아웃: 메뉴 왼쪽, 화면 오른쪽 */
    display: flex;
    width: 100%;
    height: 100%;
}

nav, .wrapper {
    /* main 내 요소들의 좌우 여백의 미 */
    margin: 0;

    /* 넘치면 스크롤바 표시 */
    display: block;
    overflow: auto;
}

/* 왼쪽 메뉴 */
nav {
    /* main 레이아웃 */
    width: 15rem;

    /* 연한 회색 배경 */
    /*background-color: var(--main-color-extrabright); => main-color, opacity: 0.05*/
    background-color: #FAFAFF;

    /* 안쪽 여백의 미 */
    padding: 0.3rem;

    /* FireFox 스크롤바 숨기기 */
    /*scrollbar-width: none;*/

    /* 여백 고려해서 사이즈 계산되도록 설정 */
    box-sizing: border-box;
}

/* 왼쪽메뉴 스크롤바 */
nav::-webkit-scrollbar {
    /* Chrome, Opera, Safari에서 숨기기 */
    /*display: none;*/
}

nav ul {
    /* 점 없애기 */
    list-style: none;
    padding: 0;

    /* 위아래 여백의 미 */
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

nav ul li {
    /* 여백의 미 */
    padding: 0.8rem;
    margin: 0.3rem 0.1rem;

    /* 둥근 모서리 */
    border-radius: 0.5rem;

    /* 세로 가운데 정렬 */
    display: flex;
    align-items: center;

    /* 글씨 약간 굵게 */
    font-weight: 500;

    /* 단어 기준 줄바꿈 */
    /* word-break: keep-all; */

}

/* 홈 버튼 */
nav ul li.home {
    /* 글씨 크고 굵게 */
    font-size: 1.5rem;
    font-weight: 700;

    /* 밝은 파란 배경 */
    /*background-color: var(--main-color-bright);*/

    /* 연한 회색 글씨 */
    color: var(--main-color);

    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 홈버튼은 다른버튼보다 조금 더 크게 */
    padding: 2rem 0rem;
}

/* 서브페이지 아이콘 */

#info-icon {
    position: absolute;
    left: 0rem; /* 왼쪽 끝에 정렬 */
    top: 50%; /* 수직 중앙에 위치 */
    transform: translateY(-50%); /* 정확한 중앙 정렬을 위해 조정 */
    margin: 0 10px;
    cursor: pointer;
    height: 50%;
}


#info-icon:hover {
    /* 클릭 가능하게 표시 */
    opacity: 75%;
}

nav ul li i, nav ul li img  {
    /* 글자 사이에 여백 */
    margin-right: 1rem;
}

nav ul li img {
    /* 원 모양 */
    border-radius: 100px;
    border: solid 0.1rem rgba(0, 0, 0, 0.5);
}

nav ul li p {
    /* 여백 너무 큼 */
    margin: 0;

    /* 줄바꿈 안함 */
    white-space: nowrap;
}

nav ul li.club p {
    /* 여백의 미 */
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}

/* 선택 시 */
nav ul li.selected {
    /* 왼쪽 선 */
    border: solid var(--main-color-accent);
    border-width: 0 0 0 0.3rem;

    /* 글자 파랑 + 굵게 */
    color: var(--main-color);
    font-weight: 700;
}

/* 마우스 올라가면 */
nav ul li:hover {
    /* 약간 투명 */
    opacity: 75%;

    /* 왼쪽 선 */
    border: solid var(--main-color);
    border-width: 0 0 0 0.3rem;

    /* 마우스 커서 변경 */
    cursor: pointer;
}

/* 클릭했을 때 */
nav ul li:active {
    /* 약간 더 투명 */
    opacity: 50%;
}

nav ul li.end {
    color: grey;
    opacity: 70%;
}

/* 표시되는 화면 */
.wrapper {
    /* 높이 꽉차게 */
    width: 100%;
    height: 100%;

    /* 페이지 로드 끝나면 나타나는 애니메이션 */
    animation: fadeIn 0.3s linear forwards;

    overflow-x: hidden;

}

.wrapper2 {
    /* 높이 꽉차게 */
    width: 100%;
    height: 100%;

    /* 안쪽 여백의 미 */
    /*padding: 1rem;*/
}

.wrapper.fade {
    /* 페이지 로드 시 사라지는 애니메이션 */
    animation: fadeOut 0.3s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 모바일 레이아웃 */
@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }
    footer {
        padding: 0.3rem;
    }
    .mainwrap {
        flex-direction: column-reverse;
        flex-basis: 1px; /* 일단 1px으로 버그삭제해놓음. 원래는 flex-basis: 1;였음 */
        overflow-x: hidden;
    }
    nav {
        width: 100%;
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }
    nav ul {
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    nav ul li.home {
        /* 동아리 버튼이랑 높이 맞추고, 넓이 더 넓게 */
        padding: 0.9rem 1rem;
    }

    nav ul li p {
        margin: 0;
        padding: 0.5rem;
    }

    nav ul li i, nav ul li img {
        margin-right: 0;
    }

    nav ul li:hover, nav ul li.selected {
        border-width: 0.3rem 0 0 0;
    }

    nav ul li:hover {
        opacity: 100%;
    }

    nav ul li:active {
        opacity: 100%;
    }
}
