:root {
    --main-color: rgba(95, 119, 219, 1);
    --main-color-bright: rgba(95, 119, 219, 0.3);
    --main-color-accent: rgba(95, 119, 219, 0.8);
    --main-color-extrabright: rgba(95, 119, 219, 0.05);

    --header-color: rgba(19, 14, 176, 1); /*rgba(48, 90, 207, 1)*/;
}
