.bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
}

.title h3 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 900;
}

.title p {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.with {
    margin: 0.5rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.rel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo {
    width: 10rem;
    height: auto;
    margin: 1rem;
    border-radius: 100%;
    cursor: pointer;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}