@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");



.aa {
    padding: 30px 50px 40px 40px;


}

button {
    margin: 20px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-green {
    background-color: rgb(95, 119, 219, 0.9);
    color: #d7fff1;
}
.w-btn-green-outline {
    border: 3px solid rgb(95, 119, 219, 0.9);
    color: darkgray;
}
.w-btn-green-outline:hover {
    background-color: rgb(95, 119, 219, 0.9);
    color: #d7fff1;
}
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.w-btn:active {
    transform: scale(1.5);
}
.w-btn-outline:active {
    transform: scale(1.5);
}

input[type=text] {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.05);
}
.long{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.05);
    font-family: inherit;
    font-size: inherit;

}

.fin_h1{
    color: #77af9c;
    align-items: center;
}
.sectionheader {
    padding: 0.7rem;
    border-left: 5px solid #848484;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.question{
  font-size: 1.2rem;
}

h1 {
  font-size: 40px;
  color: rgb(95, 119, 219,2);
  border-top: 3px solid rgb(95, 119, 219,2);
  border-bottom: 3px solid rgb(95, 119, 219,2);
}

h2, h3, p {
    margin: 0.4rem 0.4rem 0 0;
}