
.wrap {
    padding: 1rem;
    text-align: center;
}
.date {
    text-align: center;

}
.interview_time {
    display: flex;   /* 상자들 가로로 정렬 */
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inner_it {
    width: 10rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 1rem;  /* 상자와 상자 간 간격 설정 */
    cursor: pointer;
    background-color: transparent;
}
.inner_it:hover {
    border-color: var(--main-color-accent);
}
.inner_it:active {
    opacity: 60%;
}
.inner_it span {
    margin: 0.5rem;
    white-space: nowrap;
}
.inner_it span.time {
    font-weight: 700;
    font-size: 1.2rem;
}
h1 {  /* '면접 예약'(제목) 디자인 */
    font-size: 40px;
    color: var(--main-color);
    border: solid var(--main-color);
    border-width: 3px 0;
    text-align: center;
}
hr {
    border-color: rgba(0, 0, 0, 0.1);
}
.h2{
    margin: 0.3rem 0;
}

@media screen and (max-width: 768px) {
    .interview_time {
        flex-wrap: wrap;
    }
    .inner_it{
        width: 100%;
        border-radius: 0.8rem;
    }
}
