{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leader/time_config.css' %}?v=2">
{% endblock %}

{% block module %}
    {{ block.super }}
    <script src="{% static 'leader/time_config.js' %}?v=3"></script>
{% endblock %}

{% block content %}

    {% if error %}
        <script>
            alert("{{ error }}")
        </script>
    {% endif %}

    <div class="wrap">
        <h1>2차 면접시간 설정 : {{ club.code }}</h1>
        <p>이 페이지는 <b>동아리 부장</b>만 접근 가능합니다.<br>지원 기능을 사용하지 않으려면 아무것도 적용하지 마세요!</p>
        <hr>

        <table id="viewTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>시작</th>
                    <th>종료</th>
                    <th>인원</th>
                </tr>
            </thead>
            <tbody>
                {% for time in time_exists %}
                    <tr>
                        <td>{{ time.id }}</td>
                        <td>{{ time.time_start }}</td>
                        <td>{{ time.time_end }}</td>
                        <td>{{ time.number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="post">
            <h3>면접시간 선택 페이지 활성화 시각</h3>
            <input type="datetime-local" name="time_activate" value="{{ club.time_start|date:'Y-m-d H:i' }}">
            <hr>
            <h3>면접 일정 추가하기</h3>
            <p>세번째 시간부터는 자동으로 위 두 시간의 규칙을 따라 자동완성을 지원합니다.<br>
            꼭 시간이 순서대로일 필요는 없어요!</p>
            <p>면접시간 수정 후, 아래의 '적용' 버튼을 꼭 눌러주세요.</p>
            <!--<div class="add">
                ① <input id="add_start" type="datetime-local" value=""> 부터 <br>
                ② <input id="add_end" type="datetime-local"> 까지 <br>
                ③ <input id="add_number" type="number" min="1" value="1"> 명이 신청 가능하도록, <br>
                ④ 위의 규칙으로 <input id="add_repeat" type="number" min="1" max="100" value="1"> 개 일정 추가하기<br>
                (추가되는 마지막 일정: <input id="add_last" type="datetime-local" disabled> 까지)
                <button>추가</button>
            </div>-->
            <div class="tableDiv">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>날짜</th>
                            <th>시작</th>
                            <th>종료</th>
                            <th>인원</th>
                        </tr>
                    </thead>
                    <tbody id="timetable">
                    </tbody>
                </table>
            </div>
            <button id="add_time">시간 추가</button>
            <br><br>

            <input type="hidden" name="time_data" id="time_data">
            <input type="submit" value="적용" onclick="return on_submit();">
            {% csrf_token %}
        </form>
    </div>

    <script>
        selectNav('club_{{ club.code }}');
    </script>
{% endblock %}