{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leader/view_forms.css' %}?v=1">
{% endblock %}

{% block module %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1>지원서 목록: {{ club.code }}</h1>
        <p>이 페이지는 동아리 부장 및 부원들만 열람할 수 있습니다.</p>
        {% if show_archive %}
            <a href="?">제출된 지원서만 보기</a>
        {% else %}
            <a href="?show_archive=true">취소된 지원서도 보기</a>
        {% endif %}
        {% if is_leader %}
            <span> | </span><a href="/leader/first_result" target="_blank" style="font-weight: bold;">1차 합격자 결정하기</a>
            <span> | </span><a href="/leader/every_forms" target="_blank">모든 지원서 한번에 보기</a>
        {% endif %}
        <hr>

        <h3>지원서 {{ forms|length }}개</h3>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>학번</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>지원서 보기</th>
                    <th>지원 시각</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <th>{{ form.id }}</th>
                        <td>{{ form.number }}</td>
                        <td>{{ form.name }}</td>
                        <td>{{ form.phone }}</td>
                        <td>
                            {% if form.archive %}
                            (취소됨)
                            {% else %}
                                <a href="/form/leader/{{ form.id }}">보기</a>
                            {% endif %}
                        </td>
                        <td>{{ form.submit_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        selectNav('club_{{ club.code }}');
    </script>
{% endblock %}