{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leader/time_config.css' %}?v=2">
{% endblock %}

{% block module %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="wrap">
        <h1>면접시간 보기 : {{ club.code }}</h1>
        <p>이 페이지는 동아리 부장 및 부원만 접근 가능합니다.</p>
        <hr>

        <table id="viewTable">
            <thead>
                <tr>
                    <th>면접 시각</th>
                    <th>학번</th>
                    <th>이름</th>
                    <th>지원서</th>
                    <th>전화번호</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{% if form.time is None %}미선택{% else %}{{ form.time }}{% endif %}</td>
                        <td>{{ form.number }}</td>
                        <td>{{ form.name }}</td>
                        <td><a href="/form/leader/{{ form.id }}">보기</a></td>
                        <td>{{ form.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        selectNav('club_{{ club.code }}');
    </script>
{% endblock %}