{% extends 'base.html' %}
{% load static %}

{% block style %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'leader/time_config.css' %}?v=2">
{% endblock %}

{% block module %}
{{ block.super }}
    <script src="{% static 'leader/view_selection.js' %}?v=1"></script>
{% endblock %}

{% block content %}

<div class="wrap">
    <h1>가입선택 현황 보기 : {{ club.code }}</h1>
    <p>이 페이지는 <b>동아리 부장 및 부원</b>만 접근 가능합니다.</p>
    <hr>

    <table id="viewTable">
        <thead>
            <tr>
                <th>#</th>
                <th>상태</th>
                <th>학번</th>
                <th>이름</th>
                <th>지원서</th>
                <th>전화번호</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <td>{{ form.id }}</td>
                <td>
                    {% if form.selection == 'S' %}
                        <span style="font-weight: bold; color: blue;">가입 확정</span>
                    {% elif form.selection == 'G' %}
                        <span style="color: red;">가입 포기</span>
                    {% else %}
                        <span style="color: grey;">선택 대기중</span>
                    {% endif %}
                </td>
                <td>{{ form.number }}</td>
                <td>{{ form.name }}</td>
                <td><a href="/form/leader/{{ form.id }}">보기</a></td>
                <td>{{ form.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/leader/additional_result" method="POST" id="form">
        <h2>추가 합격자 등록</h2>
        <p><b><a href="/club_relation" target="_blank">추합 시간</a>을 지켜서 등록해주세요.</b> 대상자의 학번과 이름을 직접 입력하여 추가합격자를 등록해주세요.</p>
        <input type="number" placeholder="학번" name="user_id">
        <input type="text" placeholder="이름" name="user_name">
        <button value="추합 등록" id="submit_btn">추가합격 등록</button>
        {% csrf_token %}
    </form>
</div>

<script>
    selectNav('club_{{ club.code }}');
</script>
{% endblock %}