{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index/clubRelation.css' %}?v=3">
{% endblock %}

{% block content %}
    <div class="bg">
        <div class="title">
            <h1>잠신고 동아리 <br class="mobile">지원 누리집</h1>
            <p>운영 기간: 02.20 ~ 03.22</p>
        </div>
        <hr>
        <h3 class="period_info">기간 안내</h3>

        <div class="period">
            <h4>1차 서류 지원</h4>
            <h5>3/4 ~ 3/11 16:00</h5>
            <p>사이트에서 동아리별 양식을 작성하여 지원합니다.</p>
        </div>

        <div class="period">
            <h4>1차 서류 결과 발표</h4>
            <h5>3/12 09:00</h5>
            <p>사이트를 통해 1차 서류합격이 발표됩니다.</p>
        </div>

        <div class="period">
            <h4>면접시간 선택</h4>
            <h5>3/12 12:00~</h5>
            <p>사이트를 통해 1차 합격된 동아리의 면접 시간을 선택합니다.</p>
            <p>면접 시간은 동아리에서 지정한 시간 중에 선택할 수 있으며, 선착순으로 진행됩니다.</p>
        </div>

        <div class="period">
            <h4>2차 대면 면접</h4>
            <h5>3/13 ~ 3/19</h5>
            <p>방과 후 본인이 선택한 시간에 학교에서 면접을 실시합니다.</p>
            <p>장소는 동아리마다 다르니 면접 안내 문자를 확인하세요.</p>
        </div>

        <div class="period">
            <h4>합격자 발표 및 입부</h4>
            <h5>3/20 00:00 ~ 12:00</h5>
            <p>사이트를 통해 동아리별 최초 합격자 발표가 진행됩니다.</p>
            <p>합격자는 자신이 합격된 동아리 중 한 곳을 사이트에서 선택하여 입부할 수 있습니다.</p>
            <p>동아리를 한번 선택하고 나면 변경할 수 없으며, 자동으로 다른 동아리의 추가합격 명단에서 제외되고, 마지막 추가모집 기간에 지원할 수 없습니다.</p>
            <p>이때 동아리를 선택하지 않으면, 해당 동아리의 합격이 취소되며 이후 번복할 수 없습니다.</p>
        </div>

        <div class="period">
            <h4>1~4차 추가합격 발표</h4>
            <h5>3/20 12:20~<br>14:00~ 16:00~ 18:00~</h5>
            <p>점심시간부터 추가합격이 진행됩니다.</p>
            <p>본인이 추가합격 대상자인 경우 사이트에서 입부를 선택할 수 있습니다.</p>
            <p>최초 합격자와 동일하게 이 선택은 번복할 수 없습니다.</p>
        </div>

        <div class="period">
            <h4>추가 모집 기간</h4>
            <h5>3/20 20:00 ~ 3/21 20:00</h5>
            <p>모집 인원이 남은 동아리들을 대상으로 추가 모집이 진행됩니다.</p>
            <p>사이트를 통한 서류 지원만 진행되며, 여러 동아리에 동시 지원이 가능합니다.</p>
            <p>부장은 추가모집 기간 내 언제든 지원자의 합격을 결정할 수 있고, 그 즉시 지원자의 입부가 확정됩니다.</p>
            <p></p>
        </div>

        <div class="period">
            <h4>일반동아리 조직</h4>
            <h5>3/22</h5>
            <p>금요일 6교시 창체 시간에 상설동아리에 소속하지 않은 학생들을 대상으로 일반동아리를 조직합니다.</p>
            <p>이때 상설동아리에 소속한 학생들은 일반동아리를 선택할 수 없습니다.</p>
        </div>

        <hr>
        <h4 class="with">모든 상설 동아리와 함께합니다.</h4>
        <div class="rel">
            {% for club in clubs %}
                <img class="logo" style="" src="{{ club.logo_url }}" onclick="changeNav('club_{{ club.code }}', '/about/{{ club.code }}');">
            {% endfor %}
        </div>
        <h4 class="by">누리집 개발: 공학동아리 로델라<br>담당: 창의체험부</h4>
    </div>

    <script>
        selectNav('home');
    </script>
{% endblock %}
