{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index/index.css' %}?v=1">
{% endblock %}

{% block content %}
    <div id="banner">
        <!--<img src = "{% static 'index/북극여우.jpg' %}" class = 'north_fox'>-->
        <style>
            #banner {
                --background-image-url: url("{{ banner_club.index_banner_image.image.url }}")
            }
        </style>
        <div class = 'inner_banner' onclick="return changeNav('club_{{ banner_club.code }}', '/about/{{ banner_club.code }}');">
            <strong>{{ banner_club.name }}</strong>
            <p>{{ banner_club.index_banner_description }}</p>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="outer-container">
            <div class = 'dong_ari'>
                <h2>지원한 동아리</h2>
                {% if forms|length > 0 %}
                    <ul>
                        {% for form in forms %}
                            <li class="club">{{ form.club.name }}
                                <button type = "button" onclick="return changeNav('club_{{ form.club.code }}', '/form/views/{{ form.club.code }}');">
                                    지원서 보기
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p style="color: grey; text-align: center;">동아리에 지원해보세요!</p>
                {% endif %}
            </div>

            <div class = 'interview'>
                <h2>면접 시간</h2>
                <p style="color: grey; text-align: center;">1차 지원 진행중</p>
            </div>

            <div class = 'my_info'>
                <h2>내 정보</h2>
                <strong>{{ user.id }} {{ user.name }}</strong>
                <p>{{ user.phone }}</p>
                <a href="/account/logout">로그아웃</a>

                {% if user.leader_of %}
                    <br>
                    <a href="/about/leader">동아리 관리</a>
               {% endif %}
            </div>
        </div>
    {% else %}
        <div class="login_wrapper">
            {% include 'account/login.html' %}
        </div>
    {% endif %}

    <script>
        selectNav('home');
    </script>
{% endblock %}
