{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index/index.css' %}?v=6">
{% endblock %}

{% block module %}
    {{ block.super }}
    <!--<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>-->
    <script src="{% static 'index/index.js' %}?v=1"></script>
{% endblock %}

{% block content %}
    <div class="upper_container">
        <!--
        <div id="banner" style="background-image: url('{{ banner_club.index_banner_image.image.url }}')">
            <div class = 'inner_banner' onclick="return changeNav('club_{{ banner_club.code }}', '/about/{{ banner_club.code }}');">
                <strong style="color: {{ banner_club.index_banner_color }}">{{ banner_club.name }}</strong>
                <p>{{ banner_club.index_banner_description }}</p>
            </div>
        </div>-->
        {% for club in banner_clubs %}
        <div class="banner banner-{{ club.code }}" style="display: none;">
            <div class="inner_banner" onclick="return changeNav('club_{{ club.code }}', '/about/{{ club.code }}');">
                <strong style="color: {{ club.index_banner_color }}">{{ club.name }}</strong>
                <p>{{ club.index_banner_description }}</p>
            </div>
        </div>
        <style>
            .banner-{{club.code}} {
                background-image: url('{{ club.index_banner_image.image.url }}');
            }
        </style>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <div class="outer-container">
            <div class = 'dong_ari'>
                <h2>지원한 동아리</h2>
                {% if forms|length > 0 %}
                    <div class="submits">
                        {% for form in forms %}
                            <div class="submit">
                                <h3>{{ form.club.name }}</h3>
                                {% if form.first_result == 'P' %}
                                    <p class="pass">1차 합격</p>
                                {% elif form.first_result == 'F' %}
                                    <p class="fail">1차 불합격</p>
                                {% else %}
                                    <p class="wait">1차 결과 대기중</p>
                                {% endif %}
                                <button onclick="return changeNav('club_{{ form.club.code }}', '/form/views/{{ form.club.code }}');">지원서 보기</button>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p style="color: grey; text-align: center;">동아리에 지원해보세요!</p>
                {% endif %}
            </div>

            <div class = 'interview'>
                <h2>면접 시간</h2>
                <p style="color: grey; text-align: center;">1차 지원 진행중</p>
            </div>

            <div class = 'my_info'>
                <h2>내 정보</h2>
                <strong>{{ user.id }} {{ user.name }}</strong>
                <p>{{ user.phone }}</p>
                <a href="/account/logout">로그아웃</a>

                {% if user.leader_of %}
                    <br>
                    <a href="/leader/club_config">동아리 관리</a>
                    <br>ㅓ
                    <a href="/leader/time_config">면접 시간 관리</a>
                {% endif %}

                {% if user.leader_of or user.member_of %}
                    <br>
                    <a href="/leader/view_forms">지원서 보러 가기</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="login_wrapper">
            {% include 'account/login.html' %}
        </div>
    {% endif %}

    <script>
        selectNav('home');
    </script>
{% endblock %}
