{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}
     <div class="wrap">
         <div class="login">
             <h2>비밀번호 분실</h2>
                <br>
                <h3>인스타가 있으시다면...</h3>
                <p><a href="https://www.instagram.com/rodela._.jsh/" target="_blank">@rodela._.jsh</a>로 학번, 이름, 전화번호를 보내주세요</p>
                <br>
                <h3>또는 찾아오세요!</h3>
                <p>2학년 0반 000에게 찾아와주세요 :) 점심시간 상주 예정</p>
             <div class="login_etc">
                 <a href="/account/login">로그인</a>
             </div>
         </div>
        </form>
    </div>
{% endblock %}