{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'account/login.css' %}">0
{% endblock %}

{% block content %}
     <div class="wrap">
        <form class="login" method="post" action="">
            {% csrf_token %}
            <h2>로그인</h2>
            <div class="login_id">
                <h4>학번</h4>
                <input type="email" name="" id="id" placeholder="ex) 10001">
            </div>
            <div class="login_pw">
                <h4>비밀번호</h4>
                <input type="password" name="" id="pw" placeholder="***">
            </div>
            <div class="login_etc">
                <div class="forgot_pw">
                <a href="">비밀번호 찾기</a>
            </div>
            </div>
            <div class="submit">
                <input type="submit" value="로그인">
            </div>
        </form>
    </div>
{% endblock %}