{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'account/login.css' %}?v=1">
{% endblock %}

{% block content %}
    {% if invalid %}
        <script>
            alert("학번 또는 비밀번호를 다시 확인해주세요.");
            location.href=  "/";
        </script>
    {% endif %}
     <div class="wrap">
        <!--{% if invalid %}
         <p>일치하는 회원이 없습니다.</p>
        {% endif %}-->
        <form class="login" method="post" action="/account/login/">
            {% csrf_token %}
            <h2 class="login_title">로그인</h2>
            <div class="input_wrapper">
                <h4>학번</h4>
                <input type="number" name="id" id="id" placeholder="ex) 10001" min="10101" max="31040" required>
            </div>
            <div class="input_wrapper">
                <h4>비밀번호</h4>
                <input type="password" name="pw" id="pw" placeholder="********" required>
            </div>
            <div class="login_etc">
                <div class="forgot_pw">
                    <a href="/account/register">회원가입</a> |
                    <a href="https://github.com/RoDeLa6/club-recruit/blob/main/account/docs/contact.md" target="_blank">비밀번호를 잃어버렸나요?</a>
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="로그인">
            </div>
        </form>
    </div>
{% endblock %}
