{% load static %}

{% block style %}{% endblock %}
{% block module %} {% endblock %}

{% block content %}
    {% if message %}
        <script>
            alert("{{ message }}");
        </script>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <h2>비밀번호 재설정</h2>
        <div>
            <h4>학번</h4>
            <input type="number" name="id" id="id" placeholder="ex) 10001" min="10000" max="31040" required> <!-- min="10101 로 학번 나오고 고쳐야 됨 -->
        </div>
        <div>
            <h4>비밀번호</h4>
            <input type="password" name="pw" id="pw" placeholder="********" required>
        </div>
        <div class="submit">
            <input type="submit" value="변경하기">
        </div>
    </form>
{% endblock %}