
.outer-container {
    display: flex;
    justify-content: space-around;
}
button {
    /* 생략 */
    margin: 0;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;
}

#banner {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 60px;
    background-color: #ddd;
    text-align: center;
    background-image: var(--background-image-url);
    background-repeat: no-repeat;
    /* width: 40%;
    aspect-ratio: 16 / 9; */
}
.inner_banner strong {
    color: #000000;
    font-size: 60px;
    letter-spacing: -1px;
}
.inner_banner p {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: white;
}
.inner_banner p span {
    /* color: rgba(95, 119, 219, 1);*/
    font-weight: 700;
}
.inner_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    backdrop-filter: blur(2px);

}
.north_fox {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

h2 {
    color: rgba(95, 119, 219, 1);
    text-align: center;
}

.dong_ari {
    width: 25%;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 10px;
}

.interview {
    width: 25%;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 10px;
}

.my_info {
    width: 25%;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 10px;
}


/* 모바일 레이아웃 */
@media screen and (max-width: 768px) {
    .outer-container {
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
    }
    .dong_ari, .interview, .my_info {
        width: 75%;
        margin-bottom: 50px;
        /*margin: 0 100px 0 100px;*/
    }
    /* 사이사이 마진 넣으려고 했는데 밑에도 넣는 게 이쁨
    .dong_ari, .interview {
        margin-bottom: 50px;
    } */
}





a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 30%;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  height: 20%;
}

.register {
  height: 95%;
}

.login_title {
  color: tomato;
  font-size: 2em;
}

.input_wrapper {
  width: 80%;
}

.input_wrapper input {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_etc {
  padding: 10px;
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.submit {
  width: 80%;
}

.submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}

.privacy {
    text-decoration: underline dotted red;
}


/* Hide arrows (spinner) from <input type="number"> */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

