{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% block content %}
    <div class="entire">
        <div class="left">
            <div class="photo">

                <div class="leftarea">
                    <button name="이전사진" class="leftbutton">
                        <i class="arrow leftarrow"></i>
                    </button>
                </div>
                <div style="flex-grow:8;"></div>
                <div class="rightarea">
                    <button name="다음사진" class="rightbutton">
                        <i class="arrow rightarrow"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="right">
            <button name="tosubmitpage" class="submitpage" style="border-radius: 70px;">
                로델라 동아리 신청하기
            </button>
            <div class="text" style="overflow-y: scroll;">
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
                <p>동아리 설명</p>
            </div>
        </div>
    </div>
{% endblock %}
