{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% block content %}
    <div class="entire">
        <div class="left">
            <div class="photo">

                <div class="left_area">
                    <button name="이전사진" class="left_button">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>

                <div class="right_area">
                    <button name="다음사진" class="right_button">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="right">
            <button name="tosubmitpage" class="submitpage" style="border-radius: 70px;">
                신청하기
            </button>
            <textarea class="text" style="overflow-y: scroll;"></textarea>
        </div>
    </div>
{% endblock %}
