{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'about/leader.css' %}">
{% endblock %}

{% block module %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1>동아리 설정 : {{ club.code }}</h1>
        <p>이 페이지는 동아리 부장 및 관계자만 접근 가능합니다.<br>권한 추가는 동아리 부장이 로델라 부장에게 직접 요청해주세요.</p>
        <p>한번에 하나의 설정만 변경할 수 있습니다. 하나씩 변경 후 적용 버튼을 눌러주세요.</p>
        <hr>

        <form method="post">
            <h4>동아리 이름</h4>
            <input type="text" name="club_name" value="{{ club.name }}">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <hr>

        <form method="post">
            <h4>메인 화면 배너 한줄소개</h4>
            <input type="text" name="index_banner_description" value="{{ club.index_banner_description }}">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <form method="post">
            <h4>메인 화면 배너 배경이미지</h4>
            <input type="file" name="index_banner_image" accept="image/*">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <hr>

        <form method="post">
            <h4>소개 화면 배경이미지</h4>
            <input type="file" name="about_background_image" accept="image/*">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <form method="post">
            <h4>소개 화면 동아리 사진 *추가*</h4>
            <input type="file" name="about_image_add" accept="image/*">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <form method="post">
            <h4>소개 화면 동아리 사진 *제거*</h4>
            {% for image in club.about_images.all %}
                <input type="checkbox" name="about_image_remove">
                <img src="{{ image.image.url }}" width="100">
                <br>
            {% endfor %}
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <form method="post">
            <h4>소개 화면 소개글</h4>
            <p>마크다운 문법을 사용합니다. <a href="#" target="_blank">[설명서]</a> / <a href="#" target="_blank">[예시]</a></p>
                <textarea name="about_text">{{ club.about_text }}</textarea>
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
        <hr>

        <form method="post">
            <h4>1차 서류 지원 양식</h4>
            <p>아래 링크에서 변경 후, 적용 버튼을 눌러주세요.</p>
            <a href="#" target="_blank">[ 양식 변경하기 ]</a>
            <input type="hidden" name="form_change">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>

        <form method="post">
            <h4>1차 서류 제출 기한</h4>
            <p>제출 시작:</p>
            <input type="datetime-local" name="form_start" value="{{ club_form_start }}">
            <p>제출 마감:</p>
            <input type="datetime-local" name="form_end" value="{{ club_form_end }}">
            <input type="submit" value="적용">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}