{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'form/form.css' %}">
{% endblock %}

{% block module %}
    {{ block.super }}
    <script src="{% static 'form/form.js' %}" ></script>
{% endblock %}

{% block content %}

{{ form_data }}
<div class="aa">
    <form>
    <h1>
        {{ form_data.title }}
    </h1>
    <p>
        {{ form_data.description }}
    </p>
    <br>
    <hr style="border: solid px black;">
    <br>

        <div>
            {% for question in form_data.items %}
            {% if question.type == "CHECKBOX" %}
            <strong>
                {{ question.title }}
            </strong>
                <br><br>
                {% for choice in question.extra.choices %}
                    <input type="checkbox" name = "527425354" value="{{choice.value}}"> {{choice.value}}
                    <br><br>
                {% endfor %}
                {% if question.extra.hasOtherOption == True %}
                    <input type = "checkbox" name = "527425354" value = "{{choice.value}}"> 기타
                    <br>
                    <input type = "text" name = "c-language-etc" placeholder = "기타사항을 입력해주세요." hidden>
                {% endif %}
            {% endif %}




            {% endfor %}

        </div>
    <br><br>

        <div>
            {% for question in form_data.items %}
            {% if question.type == "MULTIPLE_CHOICE" %}
                <strong>
                    {{ question.title }}
                </strong>
                <br><br>
                    {% for choice in question.extra.choices %}
                        <input type="radio" name = "984420844" value="{{choice.value}}"> {{choice.value}}
                        <br><br>
                    {% endfor %}
                    {% if question.extra.hasOtherOption == True %}
                        <input type = "radio" name = "984420844" value = "{{choice.value}}"> 기타
                        <br>
                        <input type = "text" name = "c-language-etc" placeholder = "기타사항을 입력해주세요." hidden>
                    {% endif %}
                {% endif %}

                {% endfor %}

        </div>
    <br><br>
        <div>
            <strong> 2. 공학에 관련해서 진로와 연관되었거나 관심이 있는 분야는 무엇인가요? </strong>
            <br><br>
            <input type = "text" name = "field" value = "" >
        </div>
    <br><br>
    <div>
        <strong> 2-2. 위에서 언급한 분야와 관련해서 진행한 활동이 있으면 적어주세요. </strong>
		<br><br>
        <input type = "text" name = "field" value = "">
    </div>
    <br><br>
    <div>
        <strong> 3. 로델라에 지원한 동기에 대해 적어주세요. </strong>
		<br><br>
        <input type = "text" name = "field" value = "">
    </div>
    <br><br>
    <button onclick="location.href='survey_fin.html'" class="w-btn w-btn-green" type="button">
        제출하기
    </button>

    <br><br>
    </form>
    </div>
{% endblock %}
