{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'form/form.css' %}">
{% endblock %}

{% block module %}
    {{ block.super }}

    <script src="{% static 'form/form.js' %}" ></script>
{% endblock %}

{% block content %}
    {% if submit %}
        {{ submit|escape }}
        <script>
            // Use 'var' instead of 'let': global variables have to be redefined

            var is_submit = true;
            var answers = JSON.parse("{{ submit|escapejs }}");
            console.log(answers);
        </script>
    {% else %}
        <script>
            var is_submit = false;
        </script>
    {% endif %}

    <div class="aa">
        <form method="post">
            <div class="T">
                <h1>
                    {{ form_data.title }}
                </h1>
                <p>
                    {{ form_data.description }}
                </p>
            </div>

            <br><br>

            <hr>

            <br>

            {% for question in form_data.items %}

                {% if question.type == "SECTION_HEADER" %}
                <div class="sectionheader">
                        <strong>
                            {{ question.title }}
                        </strong>
                </div>
                <br><br>
                {% endif %}

                {% if question.type == "CHECKBOX" %}
                <div>
                    <strong class="question">
                        {{ question.title }}
                    </strong>
                        <br><br>
                        {% for choice in question.extra.choices %}
                            <input type="checkbox" name = "527425354" value="{{choice.value}}"> {{choice.value}}
                            <br><br>
                        {% endfor %}
                        {% if question.extra.hasOtherOption == True %}
                            <input type = "checkbox" name = "527425354" value = "{{choice.value}}"> 기타
                            <br>
                            <input type = "text" name = "527425354-etc" placeholder = "기타사항을 입력해주세요." hidden>
                        {% endif %}
                    <br><hr>
                    <br><br>
                </div>

                {% endif %}



                {% if question.type == "MULTIPLE_CHOICE" %}
                    <div>
                        <strong class="question">
                            {{ question.title }}
                        </strong>
                        <br><br>
                            {% for choice in question.extra.choices %}
                                <input type="radio" name = "984420844" value="{{choice.value}}"> {{choice.value}}
                                <br><br>
                            {% endfor %}
                            {% if question.extra.hasOtherOption == True %}
                                <input type = "radio" name = "984420844" value = "{{choice.value}}"> 기타
                                <br>
                                <input type = "text" name = "984420844-etc" placeholder = "기타사항을 입력해주세요." hidden>
                            {% endif %}
                        <br><hr>
                        <br><br>
                    </div>

                {% endif %}

                {% if question.type == "TEXT" %}
                    <div>
                        <strong class="question">
                            {{ question.title }}
                        </strong>
                        <br><br>
                        <input type = "text" name = "2042360110" value = "" >
                        <br><br><hr>
                        <br><br>
                    </div>


                {% endif %}

                {% if question.type == "PARAGRAPH_TEXT" %}
                    <div>
                        <strong class="question">
                            {{ question.title }}
                        </strong>
                        <br><br>
                        <textarea class="long" rows="5"  name="40010923"></textarea>
                        <br><br><hr>
                        <br><br>
                    </div>

                {% endif %}

            {% endfor %}

            <br><br>
            <input type="submit" onclick="location.href='survey_fin.html'" class="w-btn w-btn-green" value="제출하기">

            <br><br>
            {% csrf_token %}
        </form>
        </div>




    <script>
        selectNav('club_{{ clubname }}');
    </script>
{% endblock %}
