{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'form/time.css' %}?v=1">
{% endblock %}

{% block module %}
    {{ block.super }}
    <script src="{% static 'form/time.js' %}?v=3"></script>
{% endblock %}

{% block content %}
    {% if error %}
        <script>
            alert('{{ error }}');
            location.href = '/';
        </script>
    {% endif %}
    {% if alert %}
        <script>alert('{{ alert }}');</script>
    {% endif %}
    <div class="wrap">
        <h1>{{ club.name }} 면접</h1>

        <h2>지원자: {{ user.id }} {{ user.name }}</h2>
        <hr>

        <h2>면접장소: {{ club.location }}</h2>

        <div class = 'outer_interview_time'> <!-- '면접 예약' 제외 모든 내용 묶음 -->

            {% for date in time_data %}
                <h2 class="date">{{ date.date }}</h2>
                <div class = 'interview_time'> <!-- 시간대, 인원수 적은 상자들 묶음 -->
                    {% for time in date.times %}
                        <button class = 'inner_it' name="{{ time.id }}" onclick="return onTimeClick(this, '{{ date.date }} {{ time.start }} ~ {{ time.end }}');"> <!-- it = interview_time, 상자별 구분 -->
                            <span class="date">{{ date.date }}</span> <!-- 날짜 추가 -->
                            <span class="time">{{ time.start }} ~ {{ time.end }}</span>
                            <br>
                            <span class="people">{{ time.current }} / {{ time.number }}명</span>
                        </button>
                    {% endfor %}
                    <br>
                </div>
                <hr>
            {% endfor %}

        </div>
        <form method="post" id="time_form">
            <input type="hidden" name="time_id" id="time_id">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
