{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'form/time.css' %}?v=1">
{% endblock %}

{% block module %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1>면접 시간 선택: RoDeLa</h1>
        <hr>
        <div class = 'outer_interview_time'> <!-- '면접 예약' 제외 모든 내용 묶음 -->
            {% for i in '123456789'|make_list %}
            <h2 class="date">3/1{{i}}</h2>
            <div class = 'interview_time'> <!-- 시간대, 인원수 적은 상자들 묶음 -->
                {% for j in '123456789'|make_list %}
                    <button class = 'inner_it'> <!-- it = interview_time, 상자별 구분 -->
                        <p class="time">1{{j}}:00 ~ 1{{j}}:00</p>
                        <p class="people">3/4</p>
                    </button>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
