<!DOCTYPE HTML>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block meta %}
        <title>동아리 지원 - 잠신고등학교</title>
        <meta name="description" content="잠신고등학교 학생들을 위한 상설동아리 지원 사이트입니다. 원하는 동아리에 지원해보세요! by RoDeLa 7.0" />

        <meta property="og:url" content="https://jamsin.kr">
        <meta property="og:title" content="동아리 지원 - 잠신고등학교">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static 'logo_bg2.svg' %}">
        <meta property="og:description" content="잠신고등학교 학생들을 위한 상설동아리 지원 사이트입니다. 원하는 동아리에 지원해보세요! by RoDeLa 7.0">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.svg' %}" />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!--    <script src="{% static 'fontawesome-free-6.4.2-web/js/all.min.js' %}"></script>-->


    <link rel="stylesheet" href="{% static 'var.css' %}?v=3">
    <link rel="stylesheet" href="{% static 'base.css' %}?v=5">
    <script src="{% static 'base.js' %}?v=3"></script>

</head>
<body>
    <header>
        <!--<ul>
            {% if user %}
                <li>{{ user.name }}</li>
            {% endif %}
        </ul>-->
<!--        <h2>잠신고 상설동아리 지원 플랫폼</h2>-->
        <img src="{% static '/index/info.png' %}" id="info-icon" alt="Info" style="float: left; margin-right: 10px;" onclick="changeNav('home', '/club_relation');">
        <img src="{% static 'logo_bg2.svg' %}" style="display: none;">
        <img src="{% static 'logo.svg' %}" onclick="changeNav('home', '/');" width="80" height="auto">
        <!--<h2>동아리</h2>-->
    </header>

    <main>
        <div class="mainwrap">
            <nav>
                <ul>
                    <li class="home selected" onclick="changeNav('home', '/');"><i class="fa-solid fa-house"></i> <p>홈</p></li>
                </ul>
                <ul>
                    {% for club in clubs %}
                        <li class="club club_{{ club.code }} {% if club.end %}end{% endif %}" onclick="changeNav('club_{{ club.code }}', '/about/{{ club.code }}');"><img src="{{ club.logo_url }}" width="25"> <p>{{ club.name }}</p></li>
                    {% endfor %}
                    <!--
                    {% for i in '....................'|make_list %}
                        <li class="club" onclick="changeNav(this, '/about');"><img src="{% static 'rodela.png' %}" width="25"> <p>RoDeLa</p></li>
                    {% endfor %}
                    -->
                </ul>
            </nav>
            <div class="wrapper">
                <div class="wrapper2">
                    {% block content %}{% endblock %}
                    {% block style %}{% endblock %}
                    {% block module %}{% endblock %}
                </div>
            </div>
        </div>
    </main>

    <footer>
        <h5>2024 ⓒRoDeLa 7.0 | <a href="https://github.com/RoDeLa6/club-recruit/blob/main/account/docs/contact.md" target="_blank">문의하기</a></h5>
    </footer>
</body>
