<!DOCTYPE HTML>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block meta %}
        <title>{% block title %}{% endblock %} - 잠신고</title>
        <meta name="description" content="2023 잠신고등학교 상설동아리 지원 웹사이트" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.svg' %}" />

    <script src="https://kit.fontawesome.com/a82d1de6b4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'var.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'base.js' %}"></script>

</head>
<body>
    <header>
        <!--<ul>
            {% if user %}
                <li>{{ user.name }}</li>
            {% endif %}
        </ul>-->
<!--        <h2>잠신고 상설동아리 지원 플랫폼</h2>-->
        <img src="{% static 'logo.png' %}">
        <!--<h2>동아리</h2>-->
    </header>

    <main>
        <div class="mainwrap">
            <nav>
                <ul>
                    <li class="home selected" onclick="changeNav(this, '/');"><i class="fa-solid fa-house"></i> <p>홈</p></li>
                </ul>
                <ul>
                    {% for club in clubs %}
                        <li class="club" onclick="changeNav(this, '/about/{{ club.code }}');"><img src="{% static '{{ club.logo_url }}' %}"> <p>{{ club.name }}</p></li>
                    {% endfor %}
                    {% for i in '....................'|make_list %}
                        <li class="club" onclick="changeNav(this, '/about');"><img src="{% static 'rodela.png' %}" width="25"> <p>RoDeLa</p></li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="wrapper">
                <div class="wrapper2">
                    {% block content %}{% endblock %}
                    {% block style %}{% endblock %}
                    {% block module %}{% endblock %}
                </div>
            </div>
        </div>
    </main>

    <footer>
        <h5>2023 ⓒRoDeLa 6.0</h5>
    </footer>
</body>
