{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="cell"><img src="{% static 'club_logos/afeel.jpg' %}" alt="1"></div>
    <div class="cell"><img src="{% static 'club_logos/amas.png' %}" alt="2"></div>
    <div class="cell"><img src="{% static 'club_logos/crs.png' %}" alt="3"></div>
    <div class="cell"><img src="{% static 'club_logos/friEdu.jpg' %}" alt="4"></div>
    <div class="cell"><img src="{% static 'club_logos/gift.jpg' %}" alt="5"></div>
    <div class="cell"><img src="{% static 'club_logos/phd.jpg' %}" alt="6"></div>
    <div class="cell"><img src="{% static 'club_logos/przm.png' %}" alt="7"></div>
    <div class="cell"><img src="{% static 'club_logos/theStage.jpg' %}" alt="8"></div>
    <div class="cell"><img src="{% static 'club_logos/UandI.jpg' %}" alt="9"></div>
    <div class="cell"><img src="{% static 'club_logos/규장각.jpg' %}" alt="10"></div>

    <div class="cell empty-cell merged-cell">
        <div class="center-text"><b>잠신고 동아리 지원 누리망</b><br>운영시간: mm/dd ~ mm/dd</div>
    </div>

    <div class="cell"><img src="{% static 'club_logos/한울.jpg' %}" alt="11"></div>
    <div class="cell"><img src="{% static 'club_logos/crs.png' %}" alt="12"></div>
    <div class="cell"><img src="{% static 'club_logos/afeel.jpg' %}" alt="13"></div>
    <div class="cell"><img src="{% static 'club_logos/amas.png' %}" alt="14"></div>
    <div class="cell"><img src="{% static 'club_logos/crs.png' %}" alt="15"></div>
    <div class="cell"><img src="{% static 'club_logos/afeel.jpg' %}" alt="16"></div>
    <div class="cell"><img src="{% static 'club_logos/amas.png' %}" alt="17"></div>
    <div class="cell"><img src="{% static 'club_logos/crs.png' %}" alt="18"></div>
    <div class="cell"><img src="{% static 'club_logos/amas.png' %}" alt="19"></div>
    <div class="cell"><img src="{% static 'club_logos/crs.png' %}" alt="20"></div>
{% endblock %}